.column-full {
  width: 100%;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.container {
  max-width: 800px;
  margin: auto;
}

img {
  width: 100%;
}

p {
  font-size: 17px;
  text-align: left;
}

.row {
  display: flex;
  width: 100%;
}
