* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.offBox,
.onBox {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.offBox {
  background-color: rgb(44, 42, 42);
}

.onBox {
  background-color: rgb(250, 250, 183);
}

.toggleGrey {
  height: 3.5rem;
  width: 6rem;
  border: 5px solid black;
  border-radius: 40%;
  background-color: darkgrey;
}

.toggleGreen {
  height: 3.5rem;
  width: 6rem;
  border: 5px solid black;
  border-radius: 40%;
  background-color: lightgreen;
}

.toggleOff {
  height: 2.9rem;
  width: 3rem;
  background-color: white;
  border: 5px solid black;
  border-radius: 40%;
}

.toggleOn {
  height: 2.9rem;
  width: 3rem;
  background-color: white;
  border: 5px solid black;
  border-radius: 40%;
  margin-left: 2.4rem;
}

.onText,
.offText {
  font-size: 4rem;
  margin-left: 1.5rem;
}

.hidden {
  display: none;
}
