* {
  box-sizing: border-box;
}

.bi-check {
  color: green;
  font-size: 2rem;
}

.bi-x {
  color: red;
  font-size: 2rem;
}

.box {
  display: flex;
  align-items: center;
}

.is-valid {
  border-color: green;
}

.is-invalid {
  color: red;
  border-color: red;
}
