* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.on {
  background-color: rgb(254, 238, 186);
}

body.off {
  background-color: rgb(10, 10, 10);
}

.lightbulb {
  height: 12rem;
  width: 12rem;
  background-color: gold;
  box-shadow: 0 0 2rem gold;
  border-radius: 100%;
}

.lightbulb-off {
  height: 12rem;
  width: 12rem;
  background-color: grey;
  box-shadow: none;
  border-radius: 100%;
}
